<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Omagotchi Character Selector</title>

    <link rel="icon" type="image/gif" sizes="32x32" href="/favicon_11.gif" th:href="@{/favicon_11.gif}" />
    <link rel="stylesheet" href="/css/auth.css" th:href="@{/css/auth.css}" />
    <link rel="stylesheet" href="/css/characterSelector.css" th:href="@{/css/characterSelector.css}" />
    <link rel="stylesheet" href="/css/imageProtection.css" th:href="@{/css/imageProtection.css}" />
    <link rel="stylesheet" href="/css/cursor.css" th:href="@{/css/cursor.css}" />
</head>
<body>
<div id="character-selector-react-root"></div>

<script src="/js/api.js" th:src="@{/js/api.js}"></script>
<script src="/js/characterAssets.js" th:src="@{/js/characterAssets.js}"></script>
<script type="module" src="/js/home-react/character-selector-app.js?v=20260902-2" th:src="@{/js/home-react/character-selector-app.js(v='20260902-2')}"></script>
<script src="/js/imageProtection.js" th:src="@{/js/imageProtection.js}"></script>
</body>
</html>
